/*this style is for the sign up page */

body {
    font-family:Times, Times New Roman, serif;
    background:url('tt.avif') no-repeat;
    background-size: cover;
    background-position: center;
    color: #190258;
    margin: 120px;
    padding: 0;
}

h1 {
    text-align: center;
    color: #190251;
    font-size: 45px;
}

form {
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    border:0.2px solid rgb(127, 147, 197);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    background:transparent;
    backdrop-filter: blur(5px);
}

label {
    display:inline-block;
    margin: 13px 0 13px;
  
}

input {
    position: relative;
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid rgb(15, 2, 85);
    box-shadow: inset 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(0deg,#1a0246,#50709c) ;
    color: rgb(198, 226, 252);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
    color: rgb(181, 25, 25);
    text-align: center;
    font-size: 25px;
}
