/* this style for the your in page  */

body {
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
    background:url('forstt.jpg') no-repeat;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
}

button {
    background: linear-gradient(0deg,#254770,#5fc5ed) ;
    color: #2e2c2c;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;

}